.header--h1{
    color: black;
}
.question{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
}
.blue{
    background-color: #D6DBF5;
}
.answer--option{
    display: flex;
    justify-content:space-around;
    list-style-type:none;
    gap: 10px;
}
.option{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;
    color: #293264;
    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    padding: 8px;
}