:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  font-family: 'Eagle Lake', cursive;
  font-family: 'Inter', sans-serif;
  color: #4D5B9E;
}
